<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FoodReggie</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FoodReggie_1.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <!--<script src="~/js.jquery.min.js"></script> Keeping just in case....-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body class="tw-bg-gray-100">
    <header>
        <nav class="tw-bg-gray-100 navbar navbar-expand-sm navbar-toggleable-sm navbar-light px-4 py-3 tw-border-b-4">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <!--Font Awesome Free 6.7.1 by fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                    <img src="../images/carrot-solid.svg" width="30" height="30" class="d-inline-block align-top tw-mr-1" alt="">
                    FOODREGGIE
                </a>
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav ms-auto">
                        <li>
                            <partial class="nav-item" name="_LoginPartial"/>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="tw-container tw-h-screen tw-max-w-none">
        <main role="main">
            @RenderBody()
            @RenderSection("Scripts", required: false)
        </main>
    </div>
</body>
</html>
