@model IEnumerable<RegistratedFood>

    <div class="tw-flex tw-flex-row">
    <table class="tw-table-auto tw-border-collapse">
            <tr>
                <th class="tw-px-4">Registration Id</th>
                <th class="tw-px-4">Food Id</th>
                <th class="tw-px-4">Name of Food</th>
            </tr>
            @foreach(var registratedFood in Model){
                <tr>
                    <td class="tw-p-4">@registratedFood.RegistratedFoodId</td>
                    <td class="tw-p-4">@registratedFood.FoodId</td>
                    <td class="tw-p-4">@registratedFood.Food.Name</td>
                </tr>
            }
    </table>
</div>