@model IEnumerable<User>

<h1>List of Users</h1>

<div>
    <table>
        <tr>
            <th>UserId</th>
            <th>Name</th>
            <th>Email</th>
            <th>Registrations</th>
            <th>Edit</th>
        </tr>
        @foreach (var user in Model){
            <tr>
                <td>@user.Name</td>
                <td>@user.Email</td>
                <td>
                    @if(@user.Registrations != null){
                        <p>@string.Join(", ", @user.Registrations.Select(registration => $"Registration{registration.RegistrationId}"))</p>
                    }
                </td>
            </tr>
        }
    </table>
</div>