@model Food

<div class="tw-p-14">
    <h1 class="tw-font-bold tw-text-2xl">Create a New Food Item</h1>
    <form asp-action="Create">
        <div>
            <label asp-for="Name"></label><span style="color: red;"></span>
            <input asp-for="Name"/>
            <span asp-validation-for="Name" style="color: red;"></span>
        </div>
        <div>
            <label asp-for="FoodGroup"></label>
            <input asp-for="FoodGroup"/>
            <span asp-validation-for="FoodGroup" style="color: red;"></span>
        </div>
        <div>
            <label asp-for="Calories"></label>
            <input asp-for="Calories"/>
            <span class="" asp-validation-for="Calories" style="color: red;"></span>
        </div>
        <div>
            <label asp-for="Protein"></label>
            <input asp-for="Protein"/>
            <span asp-validation-for="Protein" style="color: red;"></span>
        </div>
        <div>
            <label asp-for="Carbohydrates"></label>
            <input asp-for="Carbohydrates"/>
            <span asp-validation-for="Carbohydrates" style="color: red;"></span>
        </div>
        <div>
            <label asp-for="Fats"></label>
            <input asp-for="Fats"/>
            <span asp-validation-for="Fats" style="color: red;"></span>
        </div>
        <div>
            <label asp-for="ImageURL"></label>
            <input asp-for="ImageURL"/>
            <span asp-validation-for="ImageURL" style="color: red;"></span>
        </div>
    </form>
    <button class="btn btn-primary tw-rounded-lg" type="submit">Create</button>
    <a asp-action="Table">Cancel</a>
</div>
