@model IEnumerable<FoodReggie_1.Models.Food>

<a href="/Food/Grid">Grid View</a>

<div>
    <h1>@ViewBag.CurrentViewName</h1>
    <table>
        <tr>
            <th>ItemId</th><th>Name</th><th>Price</th><th>Description</th>
        </tr>
    @foreach (var food in Model){
        <tr>
            <td>@food.FoodId</td>
            <td>@food.Name</td>
            <td>@food.Price.ToString("0.00 NOK")</td>
        </tr>
    }
    </table>
</div>

