@model Food

<div class="tw-flex tw-items-center tw-justify-center tw-bg-gray-100 tw-mx-28 tw-my-20">
    <div class="tw-bg-white tw-p-14 tw-rounded-lg tw-shadow-xl">
        <h1 class="tw-font-bold tw-text-2xl tw-pb-4">Edit Food Item</h1>
        <form asp-action="Update">
            <input type="hidden" asp-for="FoodId"/>
            <div class="tw-py-2">
                <label asp-for="Name"></label>
                <input class="tw-border tw-rounded-lg tw-px-2 tw-py-1" asp-for="Name"/>
                <span asp-validation-for="Name" style="color: red;"></span>
            </div>
            <div class="tw-py-2">
                <label asp-for="FoodGroup"></label>
                <input class="tw-border tw-rounded-lg tw-px-2 tw-py-1" asp-for="FoodGroup"/>
                <span asp-validation-for="FoodGroup" style="color: red;"></span>
            </div>
            <div class="tw-py-2">
                <label asp-for="Calories"></label>
                <input class="tw-border tw-rounded-lg tw-px-2 tw-py-1" asp-for="Calories"/>
                <span asp-validation-for="Calories" style="color: red;"></span>
            </div>
            <div class="tw-py-2">
                <label asp-for="Protein"></label>
                <input class="tw-border tw-rounded-lg tw-px-2 tw-py-1" asp-for="Protein"/>
                <span asp-validation-for="Protein" style="color: red;"></span>
            </div>
            <div class="tw-py-2">
                <label asp-for="Carbohydrates"></label>
                <input class="tw-border tw-rounded-lg tw-px-2 tw-py-1" asp-for="Carbohydrates"/>
                <span asp-validation-for="Carbohydrates" style="color: red;"></span>
            </div>
            <div class="tw-py-2">
                <label asp-for="Fats"></label>
                <input class="tw-border tw-rounded-lg tw-px-2 tw-py-1" asp-for="Fats"/>
                <span asp-validation-for="Fats" style="color: red;"></span>
            </div>
            <div class="tw-py-2">
                <label asp-for="ImageURL"></label>
                <input class="tw-border tw-rounded-lg tw-px-2 tw-py-1" asp-for="ImageURL"/>
                <span asp-validation-for="ImageURL" style="color: red;"></span>
            </div>
            <button class="btn btn-primary tw-rounded-lg" type="submit">Save</button>
            <a asp-action="Table">Cancel</a>
        </form>
    </div>
</div>