@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our food register application!</h1>
    <a class="nav-link text-dark" asp-area="" asp-controller="Food" asp-action="Table">Food</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Table">User</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Registration" asp-action="Table">Registration</a>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
