@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 tw-font-bold">Welcome to our food register application!</h1>
    <div>
        <a class="btn btn-primary tw-rounded-lg m-2" type="button" asp-area="" asp-controller="Food" asp-action="Table">Get started!</a>
        <a class="nav-link text-dark" type="button" asp-area="" asp-controller="Registration" asp-action="Table">Users registered</a>
    </div>
</div>
