@model IEnumerable<Registration>

<div class="tw-p-14">
    <h1 class="tw-font-bold tw-text-2xl">List of Registrations</h1>
    <div class="tw-flex tw-flex-row">
        <table class="tw-table-auto tw-border-collapse">
            <tr>
                <th class="tw-px-4">Registration Id</th>
                <th class="tw-px-4">Registration Date</th>
                <th class="tw-px-4">User Id</th>
                <th class="tw-px-4">Name of User</th>
            </tr>
            @foreach(var registration in Model){
                <tr>
                    <td class="tw-py-4">Registration @registration.RegistrationId</td>
                    <td class="tw-py-4">@registration.RegistrationDate</td>
                    <td class="tw-py-4">@registration.UserId</td>
                    <td class="tw-py-4">@registration.User.Name</td>
                </tr>
                <partial name="_RegistratedFoodTable" model="registration.RegistratedFoods"/>
            }    
        </table>
    </div>
</div>