@model IEnumerable<Registration>

<h1 class="tw-font-bold tw-text-4xl tw-justify-center">List of Registrations</h1>

@foreach(var registration in Model){
    <div class="tw-flex tw-m-4 tw-justify-center">
        
        <table class="tw-tabel-auto">
            <p>Registration @registration.RegistrationId</p>
            <tr>
                <th>Registration Date</th>
                <th>UserId</th>
                <th>Name of User</th>
            </tr>
            <tr>
                <td>@registration.RegistrationDate</td>
                <td>@registration.UserId</td>
                <td>@registration.User.Name</td>
            </tr>
        </table>
        <partial name="_RegistratedFoodTable" model="registration.RegistratedFoods"/>
    </div>
}